{
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "printWidth": 100
}
